<!--개별 포스트 페이지-->
<!DOCTYPE html>
<html>
  <head>
    <title>!Help</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  
  <body>
    <div class="top-bar">
      <% if(islogin == 'login'){ %>
      <a href='/users/logout' class="deco-none">로그아웃</a>
      <% } else { %>
      <a href='./login' class="deco-none">로그인</a>
      <% } %>
      | <a href='./mypage' class="deco-none">마이페이지</a>
      | <a href="./exchange" class="deco-none">교환소입니다!</a>
    </div>
    <div class="title">
        <a href="/"><h1>Help</h1></a>
    </div>
    <hr>
    <p>제목: <%= post.title %></p>
    <p>최근 수정된 날짜: <%= post.writedate %></p>
    <p>이름: <%= post.name %></p>
    <b><p><%= post.post %></p></b>
    <p>분류: <%= post.field %></p>
    <p>지역: <%= post.town %></p>
    <p>위도: <%= post.latitude %></p>
    <p>경도: <%= post.longitude %></p>
    <hr>
    <% if(user.name == post.name){ %>
    <form method="POST" action="/delpost">
      <input type="hidden" name="key" value=<%=post.key%>>
      <input type="submit" value="삭제!"></p>
    </form>
    <% }else if(user.is_volunteer){ %>
      <form method="POST" action="/attend">
        <input type="hidden" name="key" value=<%=post.key%>>
        <input type="submit" value="참가!"></p>
      </form>
    <% } %>
    <br>
  </body>
</html>