<!--교환소 개별 페이지-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/exchange.css' />
  </head>
  <body>
    <a href="http://localhost"><h1><%= title %></h1></a>
    <h2>교환소!</h2>
    <div>
      <div>당신이 가지고 있는 포인트는?<br> <%=point %> 포인트에요!</div>
    </div>
    <div class="exchange">
        <figure>
            <img src="<%=GoodsData.Src%>" class="goods" alt="">
            <figcaption><%=GoodsData.Name%>
              <br>가격     <%=GoodsData.Price%>포인트
              <br>수량 <%=GoodsData.Amount%>
            </figcaption>
        </figure>
        <form method="POST" action="/exchange/Buy">
          <input type="hidden" name="G_id" value=<%=GoodsData.G_id%>>
          <input type="submit" value="구매!"></p>
        </form>
    </div>
    <div>
    </div>
  </body>
</html>