<!--메인 페이지-->
<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  
  <body>
    <div class="top-bar">
      <% if(islogin == 'login'){ %>
      <a href='./users/logout' class="deco-none">로그아웃</a>
      <% } else { %>
      <a href='./login' class="deco-none">로그인</a>
      <% } %>
      | <a href='./mypage' class="deco-none">마이페이지</a>
      | <a href="./exchange" class="deco-none">교환소입니다!</a>
    </div>
    <div class="title">
        <h1>Help</h1>
    </div>
    <p>Welcome to Help</p>
    <% post.reverse(); %>
    <% for(i = 0; i < post.length; i++) { %>
      <hr>
      <p>제목: <%= post[i].title %></p>
      <p>최근 수정된 날짜: <%= post[i].writedate %></p>
      <p>닉네임: <%= post[i].name %></p>
      <b><p><%= post[i].post %></p></b>
      <p>분류: <%= post[i].field %></p>
      <p>지역: <%= post[i].town %></p>
      <hr>
    <% } %>

    <% if(islogin == 'login'){ %>
      <a href="./writebooks">글쓰기</a>
    <% } %>
    </div>
    <br>
  </body>
</html>